*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
  min-height: 0;
}

body {
  color: #202020;
  font-family: "Barlow";
  display: grid;
  row-gap: 20px;
  -moz-column-gap: 10px;
       column-gap: 10px;
  grid-template-rows: repeat(auto-fill, 10vh);
  grid-template-columns: repeat(9, auto);
}

header,
main,
footer {
  grid-column: 2/9;
}

header {
  grid-row: 1/6;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

h1 {
  font-size: 83px;
  font-family: "Prata", serif;
  text-align: left;
  font-weight: 400;
  line-height: 80px;
  margin-top: 15px;
  align-self: flex-start;
}

main {
  grid-row: 8/10;
}

h2,
h3,
p {
  font-family: "Barlow";
  font-weight: 500;
}

h2 {
  align-self: baseline;
  font-size: 50px;
  margin-bottom: 45px;
  font-weight: 300;
}

.picture {
  margin-top: 25px;
}

.picture img {
  width: 350px;
  height: 470px;
  border-radius: 195px;
}

main {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin-bottom: 40px;
}

.about-me {
  order: -1;
}
.about-me p {
  margin-bottom: 15px;
}

h3 {
  font-weight: 680;
  font-size: 28px;
  margin-bottom: 25px;
}

.about-me,
section.works {
  width: auto;
  max-width: 340px;
}

.works {
  margin-bottom: 30px;
  order: 2;
}

.work {
  margin-bottom: 20px;
}

.work p {
  margin-bottom: 15px;
}

.tags {
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  margin-bottom: 35px;
}

.tags span {
  display: inline-block;
  text-align: center;
  font-size: 10px;
  font-family: "Work Sans";
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 20px;
  height: 22px;
  margin: 3px;
  padding: 6px 15px;
  background-color: #E4DCDC;
  color: white;
  font-weight: 600;
}

footer {
  grid-row: 10/13;
  height: 160px;
  color: #C1A8A8;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
}

@media only screen and (min-width: 576px) {
  header {
    flex-direction: row;
    margin-top: 80px;
  }
  .picture {
    margin-top: unset;
    margin-right: calc(4vw + 10px);
    margin-left: 30px;
    width: 40%;
    height: 100%;
    max-width: 400px;
    max-height: 500px;
  }
  .picture img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 139vw;
  }
  h1 {
    font-size: calc(3rem + 20px);
    line-height: 105%;
    font-weight: 550;
    align-self: center;
  }
  header, .about-me,
  section.works {
    width: 85%;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
  }
  .about-me {
    margin-bottom: 50px;
  }
  section .works {
    margin: unset;
    width: 100%;
    display: block;
  }
  .work {
    width: 45%;
    display: inline-block;
    height: auto;
  }
  .work:nth-child(odd) {
    margin-right: 40px;
  }
  footer {
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
  }
  footer div {
    margin: 0 10px 30px;
  }
}
@media only screen and (min-width: 992px) {
  header {
    width: 100%;
    max-width: 1277px;
    justify-content: center;
  }
  .picture {
    flex-basis: 50%;
    max-width: unset;
    margin: unset;
    margin-left: 100px;
  }
  .picture img {
    max-width: 280px;
    height: 360px;
  }
  h1 {
    flex-basis: 50%;
    line-height: 90px;
    grid-column: 6/10;
  }
  main {
    display: grid;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(9, auto);
  }
  .work {
    width: 100%;
  }
  .about-me, section.works {
    order: 0;
  }
}/*# sourceMappingURL=index.css.map */